#top-header {
    border: 1px solid red;
}

#bottom-header {
    border: 1px solid green;
}

.bg-dark {
    background-color: black;
}

.jumbotron {
    border: 1px dashed purple;
}

.bg-black {
    background-color: black;
}

#logo {
    height: 15px;
}

body {
    padding: 130px 0;
}

.jumbotron {
    height: 600px;
}

#returnal {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
}

/* #returnal [class^="col"] {
    padding: 15px 30px;
} */

#rounded-buttons {
    border-radius: 50px;
    font-size: 15px;
}

img {
    max-width: 100%;
}

.game-card {
    border-radius: 10px;
}

.active {
    border-bottom: 3px solid #3e94da;
}

.bg-darkgray {
    background-color: #1f1f1f;
}